<!-- -*- mode: XML -*- -->

<launch>

    <node name="stageros" pkg="stage_ros" type="stageros" cwd="node" args="$(find a5_setup)/worlds/uoa_robotics_lab.world" output="screen"/>  
    <node name="map_to_image_node" pkg="a5_setup" type="map_to_image_node" cwd="node" args="map:=/local_map/local_map /pose:=/odom" output="screen"/>
    <node name="local_map" pkg="local_map" type="local_map" cwd="node" args="/local_map/scan:=/base_scan_1 _map_width:=200 _map_height:=200 _map_resolution:=0.1" output="screen"/> 

</launch>

